@model AddOrderItemViewModel

@{
    ViewData["Title"] = "Home Page";
    List<PubItems> Items = ViewBag.ViewItems;
    //Layout = "~/Views/Shared/_Layout_WithLogin.cshtml";
}
<style>
    .deal {
        padding-top: 2rem;
        padding-bottom:2rem;
        text-align: center;
    }

    .typeText {
        position: absolute;
        top: 40%;
        left: 0%;
        width: 100%;
        font-size: xx-large;
        text-align: center;
    }

    .typeImg {
        margin: auto;
        max-height: inherit;
        width: auto;
        max-width:100%;
    }

    .imgDiv {
        min-height: 275px;
        max-height: 275px;
        max-width: 100%;
        width: initial;
        margin: auto;
    }

    .card-buy {
        padding: .75rem 1.25rem;
    }

    .warning {
        height: 40%;
        font-size: large;
        position: absolute;
        display: block;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12 p-5 text-center">
            <a class="display-1 text-dark text-decoration-none" asp-controller="Items" asp-action="Index"> Order Menu </a>
        </div>
    </div>
    <div class="card-deck">
        @foreach (PubItems item in Items)
        {
            var photoPath = "/imgs/" + (item.ItemImagePath ?? "RedLionText.png");
            <div class="card">
                <div class="imgDiv p-2">
                    <img src="@photoPath" class="typeImg" alt="...">
                </div>
                <div class="card-body">
                    <h4 class="card-title text-capitalize">@item.ItemName</h4>
                    <h6 class="card-text font-weight-bold">£@item.ItemPrice.ToString()</h6>
                    @if (item.ItemStock < 20)
                    {
                        <span class="card-text text-warning"> Only @item.ItemStock left! </span>
                    }
                    <p class="card-text">@item.ItemDescription</p>
                </div>
                <div class="card-buy">
                    <form method="post" asp-controller="Items" asp-action="AddOrderItem">
                        <button type="submit" class="btn btn-secondary"> Add </button>
                        <label asp-for="ItemQuantity"></label>
                        <input min="1" max="@item.ItemStock" class="form-control w-auto d-inline" asp-for="ItemQuantity" />
                        <input hidden asp-for="ItemId" value="@item.ItemId" />
                    </form>
                </div>
                <div class="card-footer bg-dark deal">
                    <a asp-controller="Items" asp-action="Index" asp-route-ItemType="@item.ItemType" class="display-4 text-white"> Order A @item.ItemType.ToString() </a>
                </div>
            </div>
        }
    </div>
</div>

