@model FilterItemsViewModel
@{
    ViewData["Title"] = "Items";
    PubItemsViewModel PubItems = ViewBag.PubItemsViewModel;


    var Params = new Dictionary<string, string> {
    {"ItemName", Model.ItemName },
    //{"ItemOnSale", Model.ItemOnSale.ToString()},  --MOVING ITEM ON SALE TO ADMIN ONLY SCREEN--
    { "ItemType", Model.ItemType.ToString() }
    };

    PubUsers user = null;
    if (!(Context.Session.GetString("User") == null))
    {
        user = JsonSerializer.Deserialize<PubUsers>(Context.Session.GetString("User"));
    }
}

<style>
    .CardImage {
        min-height: 125px;
        max-height: 300px;
        max-width: 100%;
        display: block;
        width: initial;
        margin-left: auto;
        margin-right: auto;
    }

    .GroupText {
    }

    @@media (max-width: 768px) {
        .GroupText {
            display: none;
        }
    }
</style>


@*---------TOASTY AREA---------*@
<div aria-live="polite" aria-atomic="true" style="width:100%; left:0; position: fixed; top: 0px; z-index:10">
    <!-- Position it -->
    <div class="p-2" style="position: absolute; top: 0; right: 0;" href="#" id="ToastyMessage">
        @if (ViewBag.Toast != null)
        {
            await Html.RenderPartialAsync("ToastMessage", (ToastAlertViewModel)ViewBag.Toast);
        }
    </div>
</div>

<div class="cotainer mt-3">
    @* -----------------DISPLAY PUB ITEM FILTERS----------------- *@

    <div class="row pt-2 pb-3">
        <div class="col-12">
            <form method="get">
                <div class="input-group mb-3">
                    <div class="input-group-prepend GroupText">
                        <label class="input-group-text" asp-for="ItemType"></label>
                    </div>
                    <select class="form-control custom-select" asp-for="ItemType" asp-items="Html.GetEnumSelectList<ItemTypes>()">
                        <option selected value="">All</option>
                    </select>
                    @if (user != null && user.UserAccessRank == UserAccessRank.Admin)
                    {
                        <div class="input-group-prepend">
                            <label class="input-group-text" asp-for="ItemOnSale"></label>
                        </div>
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input asp-for="ItemOnSale" class="form-check" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                    }

                    <div class="input-group-prepend GroupText">
                        <label class="input-group-text" asp-for="ItemName"></label>
                    </div>
                    <input asp-for="ItemName" class="form-control" placeholder="Enter Item Name">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </div>
            </form>
            @if (PubItems != null)
            {
                int NumOfPages = (PubItems.RowCount + GlobalConstants.ItemsPerPage - 1) / GlobalConstants.ItemsPerPage; //24 items per page

                int PageUp = Model.PageNumber + 1;
                int PageDown = Model.PageNumber - 1;

                //var Params = new Dictionary<string, string> {
                //    {"ItemName", Model.ItemName },
                //    //{"ItemOnSale", Model.ItemOnSale.ToString()},  --MOVING ITEM ON SALE TO ADMIN ONLY SCREEN--
                //    { "ItemType", Model.ItemType.ToString() }
                //};

                <div class="input-group ml-auto">
                    @if (PageDown >= 0) //can't go to a page that has nothing on it!
                    {
                        <div class="input-group-prepend">
                            <a class="btn btn-primary" asp-controller="Items" asp-action="Index" asp-all-route-data="@Params" asp-route-PageNumber="@PageDown"> Page Down </a>
                        </div>
                    }
                    <label class="input-group-text" asp-for="ItemName"> Page: @(Model.PageNumber + 1)/@NumOfPages </label>
                    @if (PageUp < NumOfPages) //can't have -1 pages!
                    {
                        <div class="input-group-append">
                            <a class="btn btn-primary" asp-controller="Items" asp-action="Index" asp-all-route-data="@Params" asp-route-PageNumber="@PageUp"> Page Up </a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    @* -----------------DISPLAY PUB ITEMS----------------- *@
    <div class="row">
        @if (PubItems != null && PubItems.PubItemsList != null)
        {
            <div class="card-columns">
                @foreach (PubItems item in PubItems.PubItemsList)
                {
                    var photoPath = "~/imgs/" + (item.ItemImagePath ?? "RedLionText.png");
                    <div class="card">
                        <img class="card-img-top CardImage mt-3" src="@photoPath" asp-append-version="true">
                        <div class="card-body">
                            <h4 class="card-title text-capitalize">@item.ItemName</h4>
                            <h6 class="card-text font-weight-bold"> Price: £@item.ItemPrice.ToString() </h6>
                            @if (item.ItemStock < 20)
                            {
                                <span class="card-text text-warning"> Only @item.ItemStock left! </span>
                            }
                            <p class="card-text"> @item.ItemDescription </p>
                            <button id="@item.ItemId" class="btn btn-primary AddOrderButton"> Add </button>
                            <a asp-action="Details" asp-controller="Items" asp-route-id="@item.ItemId" class="btn btn-primary AddOrderButton"> Details </a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-12">
            </div>
        }
        else
        {
            <div class="col-12">
                <h2 class="card-title text-danger"> Could not find any items that matched the specified search criteria. </h2>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.toast').toast('show'); //show given toast message from controller - nothing will show if there is no message

            $('.AddOrderButton').on("click", function () {
                var id = $(this).attr('id');
                var itemID = {
                    "id": id
                }

                $.ajax({
                    type: "POST",
                    url: "/Items/AddOrderItemPartial",
                    data: itemID,
                    success: function (data) {
                            $("#ToastyMessage").html(data);
                            $('.toast').toast('show');
                         }
                    });
                });
            });
    </script>
}










@*<div class="cotainer mt-5">
        <div class="row">
            @foreach (PubItems item in Model)
            {
                var photoPath = "~/imgs/" + (item.ItemImagePath ?? "RedLionText.png");
                <div class="col-md-4 mt-3 mt-md-0">
                    <div class="card">
                        <img class="card-img-top CardImage mt-3" src="@photoPath" alt="Card image" asp-append-version="true">
                        <div class="card-body">
                            <h4 class="card-title">@item.ItemName</h4>
                            <h6 class="card-text font-weight-bold"> Price: £@item.ItemPrice.ToString() </h6>
                            @if (item.ItemStock < 20)
                            {
                                <span class="card-text text-warning"> Only @item.ItemStock left! </span>
                            }
                            <p class="card-text"> @item.ItemDescription </p>
                            <form method="post" asp-controller="Items" asp-action="Buy" asp-route-id="@item.ItemId">
                                <button type="submit" class="btn btn-primary"> Add </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>*@
